/* Estilos generales */
:root {
    --white: #FFFFFF;
    --black: #0A0A0A;
    --orange-primary-color: #FB5F11;
    --text-input-field: #F7F7F7;
    --gold-secondary-color: #BE9A2F;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}
body {
    font-size: 1.6rem;
    background-color: var(--black);
}

.inactive {
    display: none;
}

/* Nav bar (11) - General*/
nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border-bottom: 1px solid var(--gold-secondary-color);
    align-items: center;
}
.menu {
    display: none;
}
.logo {
    width: 150px;
}
.navbar-left ul,
.navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 60px;
}
.navbar-left {
    display: flex;
}
.navbar-left ul {
    margin-left: 12px;
}
.navbar-left ul li a,
.navbar-right ul li a {
    text-decoration: none;
    color: var(--text-input-field);
    border: 1px solid var(--black);
    padding: 8px;
    border-radius: 8px;
}
.navbar-left ul li a:hover,
.navbar-right ul li a:hover {
    border: 1px solid var(--gold-secondary-color);
    color: var(--orange-primary-color);
}
.navbar-email {
    color: var(--text-input-field);
    cursor: pointer;
    user-select: none;
    font-size: var(--sm);
    margin-right: 12px;
}
.navbar-email:hover {
    color: var(--orange-primary-color);
}
.navbar-email img {
    margin-left: 10px;
    transform: rotate(90deg);
}
.navbar-shopping-cart {
    position: relative;
}
.navbar-shopping-cart img{
    width: 29px;
    height: 27px;
}
.navbar-shopping-cart div {
    width: 16px;
    height: 16px;
    background-color: var(--orange-primary-color);
    border-radius: 50%;
    font-size: var(--sm);
    font-weight: bold;
    position: absolute;
    top: -3px;
    right: -3px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Click Desktop Menu - Sign out(7) */
.desktop-menu {
    background: var(--black);
    top: 64px;
    right: 60px;
    position: absolute;
    width: 100px;
    height: auto;
    border: 1px solid var(--gold-secondary-color);
    border-radius: 6px;
    padding: 20px 20px 0 20px;
}
.desktop-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.desktop-menu ul li {
    text-align: end;
}
.desktop-menu ul li:nth-child(1),
.desktop-menu ul li:nth-child(2) {
    font-weight: bold;
    }
.desktop-menu ul li:last-child {
    padding-top: 20px;
    border-top: 1px solid var(--gold-secondary-color);
}
.desktop-menu ul li:last-child a {
    color: var(--orange-primary-color);
    font-size: var(--sm);
}
.desktop-menu ul li a {
    color: var(--white);
    text-decoration: none;
    margin-bottom: 20px;
    display: inline-block;
}

/* Tab Mobile Menu - Menu(8)*/
.mobile-menu {
    background-color: var(--black);
    position: absolute;
    top: 64px;
    left: 0;
    width: calc(100% - 24px);
    padding-left: 24px;
}
.mobile-menu a {
    text-decoration: none;
    color: var(--text-input-field);
    font-weight: bold;
}
.mobile-menu ul {
    padding: 0;
    margin: 24px 0 0;
    list-style: none;
    font-size: var(--sm);
}
.mobile-menu ul:nth-child(1) {
    border-bottom: 1px solid var(--gold-secondary-color);
}
.mobile-menu ul li {
    margin-bottom: 24px;
}
.mobile-menu .email {
    font-size: 1.2rem;
    font-weight: 300;
}
.mobile-menu .sign-out {
    font-size: 1.2rem;
    color: var(--orange-primary-color);
}

/* Aside */
aside {
    background-color: var(--black);
    width: 360px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
} 

/* ShoppingCart - Shopping Cart(13) */
#shoppingCartContainer {
    padding: 0 24px;
}
.title-container {
    display: flex;
    margin-bottom: 40px;
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.title {
    font-size: var(--lg);
    font-weight: bold;
    color: var(--white);
}
.order {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 16px;
    align-items: center;
    background-color: var(--gold-secondary-color);
    margin-bottom: 24px;
    border-radius: 8px;
    padding: 0 24px;
    cursor: pointer;
}
.order p:nth-child(1) {
    display: flex;
    flex-direction: column;
}
.order p span:nth-child(1) {
    font-size: var(--md);
    font-weight: bold;
    color: var(--white);
}
.order p:nth-child(2) {
    text-align: end;
    font-size: var(--md);
    font-weight: bold;
    color: var(--white);
}
/* .my-order-content {
    display: flex;
    flex-direction: column;
} */
.shopping-cart {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    gap: 16px;
    margin-bottom: 24px;
    align-items: center;
}
.shopping-cart figure {
    margin: 0;
}
.shopping-cart figure img {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    object-fit: cover;
}
.shopping-cart p:nth-child(2) {
    color: var(--text-input-field);
    font-size: 1.2rem;
}
.shopping-cart p:nth-child(3) {
    color: var(--white);
    font-size: var(--md);
    font-weight: bold;
}
.primary-button {
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 8px;
    border: none;
    background-color: var(--orange-primary-color);
    color: var(--white);
    cursor: pointer;
}

/* ProductDetail - ProductDetail (12) */
.product-detail-close {
    position: absolute;
    top: 24px;
    left: 24px; 
    background: var(--white);
    width: 14px;
    height: 14px; 
    z-index: 2;
    padding: 12px;
    border-radius: 50%;
}
.product-detail-close:hover {
    cursor: pointer; 
}
#productDetail > img:nth-child(2) {
    width: 100%;
    height: 360px; 
    object-fit: cover; 
    border-radius: 0 0 20px 20px;
}
.dots {
    text-align: center; 
}
.dot {
    cursor: pointer; 
    height: 8px;
    width: 8px; 
    margin: 0 2px; 
    background-color: var(--text-input-field);
    border-radius: 50%;
    display: inline-block; 
}
.dots span:nth-child(1){
    background-color: var(--orange-primary-color);
}
#productDetail .product-info {
    margin: 24px 24px 0 24px;
}
#productDetail .product-info p:nth-child(1) {
    color: var(--white); 
    font-weight: bold;
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 4px;
}
#productDetail .product-info p:nth-child(2) {
    color: var(--text-input-field); 
    font-size: var(--md);
    margin-top: 0;
    margin-bottom: 36px;
}
#productDetail .product-info p:nth-child(3) {
    color: var(--text-input-field); 
    font-size: var(--sm);
    margin-top: 0;
    margin-bottom: 36px;
}
.primary-button {
    width: 100%;
    height: 50px;
    font-size: var(--md);
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    border-radius: 8px; 
    border: none;
    background-color: var(--orange-primary-color);
    color: var(--white);
    cursor: pointer;
}
.primary-button img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.add-to-cart-button {
    display: flex;
    align-items: center;
    justify-content: center; 
}

/* Product List - Home (6) */

.cards-container {
    --card-size: 240px;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-size));
    gap: 26px;
    place-content: center;
    margin-top: 20px;
}
.product-card {
    width: var(--card-size);
}
.product-card img {
    width: var(--card-size);
    height: var(--card-size);
    border-radius: 20px;
    object-fit: cover;
}
.product-card .product-info {
    display: flex;
    margin-top: 12px;
    justify-content: space-between;
    align-items: center;
}
.product-card .product-info figure{
    margin: 0;
}
.product-card .product-info figure img {
    width: 35px;
    height: 35px;
}
.product-card .product-info div p:nth-child(1) {
    margin-top: 0px;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: var(--md);
    color: var(--text-input-field);
}
.product-card .product-info div p:nth-child(2) {
    margin-top: 0;
    margin-bottom: 0;
    font-size: var(--sm);
    color: var(--text-input-field);
}


@media (max-width: 640px) {
    .menu {
        display: block;
        width: 30px;
        height: 25px;
    }
    .navbar-left ul {
        display: none;
    }
    .navbar-email {
        display: none;
    }
    .desktop-menu {
        display: none;
    }
    .aside {
        width: 100%;
    }
    .cards-container {
        --card-size: 140px;
    }
}

@media (min-width: 641px) {
    .mobile-menu {
        display: none;
    }
}